* {
    font-family: sans-serif;
}
#page {
    background-color: white; 
}

img {
    height: 600px;
    border-radius: 5%;
    width: 100%;
}
h1 {
    
    text-align: center;
}
nav {
    
    text-align: center; 
}
nav li {
    display: inline;
    margin-left: 10px; 
    margin-right: 10px; 
}
.block {
    float: left; 
    /*display: inline-block; */
    width: 300px;
    height: 400px;
    margin: 10px 20px 10px 70px;
}
#work {
    clear: left;
    margin: 0px 70px 100px 70px;
}
#app {
    background-color: lightcoral; 
    text-align: center;
    width: 400px; 
    border-radius: 5%;
}
#app h1, h3 {
    color: white; 
}

#app p {
    color:lightgreen;
    font-size: 100px; 
}